# http://www.gnu.org/software/automake

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/compile
/config.h.in
/configure.scan
/stamp-h1

# autoreconf

/Makefile.in
/aclocal.m4
/configure
/depcomp
/doc/Makefile.in
/examples/Makefile.in
/include/Makefile.in
/include/config.h.in
/ltmain.sh
/missing
/mylib/Makefile.in
/param/Makefile.in
/probdist/Makefile.in
/testu01/Makefile.in

/.deps/
/Makefile
/config.log
/config.status
/doc/Makefile
/examples/.deps/
/examples/.libs/
/examples/Makefile
/examples/bat1
/examples/*.o
/examples/bat2
/examples/bat3
/examples/birth1
/examples/ex1
/examples/ex3
/examples/ex4
/examples/ex7
/examples/fbirth
/examples/fcoll
/examples/scat
/examples/scat2
/include/Makefile
/include/addstr.h
/include/bbattery.h
/include/bitset.h
/include/chrono.h
/include/config.h
/include/config.h.in~
/include/fbar.h
/include/fcho.h
/include/fcong.h
/include/fdist.h
/include/ffam.h
/include/ffsr.h
/include/finv.h
/include/fknuth.h
/include/fmarsa.h
/include/fmass.h
/include/fmultin.h
/include/fnpair.h
/include/fres.h
/include/fspectral.h
/include/fstring.h
/include/ftab.h
/include/fvaria.h
/include/fwalk.h
/include/gdef.h
/include/gdefconf.h
/include/gofs.h
/include/gofw.h
/include/mystr.h
/include/num.h
/include/num2.h
/include/rijndael-alg-fst.h
/include/scatter.h
/include/scomp.h
/include/sentrop.h
/include/sknuth.h
/include/smarsa.h
/include/smultin.h
/include/snpair.h
/include/sres.h
/include/sspacings.h
/include/sspectral.h
/include/sstring.h
/include/stamp-h1
/include/stamp-h2
/include/statcoll.h
/include/svaria.h
/include/swalk.h
/include/swrite.h
/include/tables.h
/include/tu01_sha1.h
/include/uautomata.h
/include/ubrent.h
/include/ucarry.h
/include/ucrypto.h
/include/ucubic.h
/include/udeng.h
/include/ufile.h
/include/ugfsr.h
/include/ugranger.h
/include/uinv.h
/include/uknuth.h
/include/ulcg.h
/include/ulec.h
/include/umarsa.h
/include/umrg.h
/include/unif01.h
/include/unumrec.h
/include/uquad.h
/include/usoft.h
/include/utaus.h
/include/utezuka.h
/include/util.h
/include/utouzin.h
/include/uvaria.h
/include/uweyl.h
/include/uwu.h
/include/uxorshift.h
/include/vectorsF2.h
/include/wdist.h
/libtool
/mylib/.deps/
/mylib/.libs/
/mylib/Makefile
/mylib/*.lo
/mylib/*.o
/mylib/libmylib.la
/param/Makefile
/probdist/.deps/
/probdist/.libs/
/probdist/Makefile
/probdist/*.lo
/probdist/*.o
/probdist/libprobdist.la
/tcode
/tcode.o
/testu01/.deps/
/testu01/.libs/
/testu01/Makefile
/testu01/*.lo
/testu01/*.o
/testu01/libtestu01.la
