# http://www.gnu.org/software/automake

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/compile
/config.h.in
/configure.scan
/stamp-h1

# autoreconf

/Makefile.in
/aclocal.m4
/configure
/depcomp
/doc/Makefile.in
/examples/Makefile.in
/include/Makefile.in
/include/config.h.in
/ltmain.sh
/missing
/mylib/Makefile.in
/param/Makefile.in
/probdist/Makefile.in
/testu01/Makefile.in

/.deps/
/Makefile
/config.log
/config.status
/doc/Makefile
/examples/.deps/
/examples/.libs/
/examples/Makefile
/examples/bat1
/examples/*.o
/examples/bat2
/examples/bat3
/examples/birth1
/examples/ex1
/examples/ex3
/examples/ex4
/examples/ex7
/examples/fbirth
/examples/fcoll
/examples/scat
/examples/scat2
/examples/*.log
/examples/*.trs
/examples/bone.tex
/test-driver
/include/Makefile
/include/config.h
/include/config.h.in~
/include/gdefconf.h
/include/stamp-h1
/include/stamp-h2
/include/TestU01/
/libtool
/mylib/.deps/
/mylib/.libs/
/mylib/Makefile
/mylib/*.lo
/mylib/*.o
/mylib/libmylib.la
/param/Makefile
/probdist/.deps/
/probdist/.libs/
/probdist/Makefile
/probdist/*.lo
/probdist/*.o
/probdist/libprobdist.la
/tcode
/tcode.o
/testu01/.deps/
/testu01/.libs/
/testu01/Makefile
/testu01/*.lo
/testu01/*.o
/testu01/libtestu01.la
